/*.sidebar-section[data-section-name="chat-channels"], */
.sidebar-section[data-section-name="messages"],
.sidebar-section[data-section-name="user-threads"] {
    display: none !important;
}

/* Hide the compose button in user briefs */
li.compose-pm {
    display: none !important;
}

li:has(button.compose-pm) {
    display: none !important;
}